/* estilo principal */

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
}

/* cores */
:root{
    --cor-fundo: #00162f;
    --cor-letra: #fff;
    --azul: #200898;
    --verde-agua: #0CBEF0;
    --azul-claro: #5C72F0;
    --lilas: #7D0CF0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
header{ /* cabecalho */
    margin: 20px auto;
    width: clamp(300px, 1000px, 1000px);
    height: clamp(10px, 100px, 100px);
    position: relative;
    background-color: transparent;
    animation: logo 0.7s 1 ease-in;
    z-index: 2;
}
@keyframes logo{ /* animacao logo */
    0%{
        transform: translateY(-40px);
    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20px);
    }
    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-10px);
    }
    90%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}
.img-inicio{ /* div cabecalho */
    margin: -10px auto;
    background-color: transparent;
    text-align: center;
    width: 20%;
}
.img-inicio img{ /* img cabecalho */
    width: 80%;
    background-color: transparent;
    margin: auto;
}

main{ /* conteudo principal */
    z-index: 999;
    margin: 0 auto;
    padding: 10px;
    width: 75%;
    height: auto;
    box-shadow: 20px;
}
.container{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    height: 70vh;
    border-radius: 20px;
    animation: container 0.2s 1 ease-in;
}
@keyframes container{ /* animacao container */
    from{
        transform: translateY(-40px);
    }
}
.txt-inicio{ /* div texto inicial */
    margin: 10px auto;
    width: 92%;
    height: 170px;
}
.txt-inicio p{ /* texto inicial */
    text-align: justify;
    text-indent: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.03em;
    line-height: 26px;
    background-color: transparent;
}
.txt-inicio h1{ /* titulo do cabecalho */
    margin: 5px auto;
    text-align: left;
    text-indent: 28px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 1.7em;
    background-color: transparent;
    animation: txt-titulo-animated 3s ease 1;
    background: linear-gradient(45deg, #fff, #8999f7, #fff);
    background-size: 33% 10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main h2{ /* titulo dos projetos */
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-size: 1.3em;
    text-align: center;
    margin: 10px auto 10px;
    animation: txt-titulo-animated 3s ease 1;
    background: linear-gradient(45deg, #fff, #5C72F0, #fff);
    background-size: 50%  10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes txt-titulo-animated{
    0%{
        background-position-x: 0%;
    }
    50%{
        background-position: 50%;
    }
    100%{
         background-position: 0%;
    }
}

.projetos{
    margin: 0 auto;
    width: 92%;
}
.cards{ /* div dos cards */
    display: flex;
    flex-direction: row;
}
.card{ /* cards dos projetos */
    margin: 10px 10px;
    background-color: #011833;
    width: 30%;
    height: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition-duration: 1s;
    box-shadow: 3px 3px #011c3a;
}
.card:hover{
    scale: 1.02;
}
.card img{
    width: 60%;
    height: 13vh;
    margin: 5px;
    border-radius: 20px;
}
.card h3{
    margin: 10px auto;
    font-size: 1.1em;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    background-color: transparent;
}

.redes{
    width: 20%;
    height: 8vh;
    position: absolute;
    top: 0;
    left: -100px;
    background-color: transparent;
    border-radius: 20px;
    animation: footer-animated 3s 1 linear;
}
.redes img{
    width: 10%;
    margin: auto 5px auto 5px;
    background-color: transparent;
}
.redes img:hover{
    scale: 1.05;
    transition-duration: 0.5s;
}
@keyframes footer-animated{
    from{
        transform: translateY(-150px);
    }
}
footer{
    background-color: transparent;
    width: 10%;
    height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    left: 0;
}
.icon-alien{
    background-color: transparent;
    width: 14%;
    cursor: pointer;
}
.creditos{
    background-color: transparent;
    position: relative;
    width: 100%;
    margin: 90% 0 2% 10%;
}
.creditos img{
    display: block;
}
.balao{
    background-color: transparent;
    width: 60%;
    position: absolute;
    top: -75%; 
    left: 30%;
    transform: translate(-45%, -75%);
}
.txt{
    position: absolute;
    cursor: default;
    top: -98%; 
    left: 30%;
    transform: translate(-45%, -98%);
    color: #011c3a; 
    font-family: "Nunito Sans", sans-serif;
    font-size: 10px; 
    text-align: center;
    background-color: transparent;
    padding: 10px; 
    border-radius: 5px; 
}
.ativo{
    display: initial;
    opacity: 1;
}
.inativo{
    display: none;
    opacity: 0;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 3px;
    background-color: var(--cor-fundo);
}
::-webkit-scrollbar-thumb{
    background-color: var(--azul);
}

/* responsividade */
@media screen and (300px <= width <= 1000px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    header{
        margin: 10px auto 20px;
        width: 100%;
        height: 16vh;
        background-color: transparent;
    }
    .img-inicio{
        margin-top: -20px;
        width: 30%;
    }
    .img-inicio img{
        width: 100%;
    }
    main{
        z-index: 0;
        padding: 0;
        height: 70vh;
        width: 90%;
        margin: 0 auto 20px;
    }
    .container{
        width: 100%;
        height: 20vh;
        margin: -40px auto 20px;
    }
    .txt-inicio{
        background-color: var(--cor-fundo);
        margin: 0 auto 20px;
        height: auto;
        padding: 0;
        width: 100%;
    }
    .cards{
        display: block;
        margin: 0 auto 100px;
        padding: 20px;
    }
    .card{
        width: 80%;
        margin: 50px auto;
        padding: 20px;
        background-color: transparent;
    }
    .card img{
        width: 50%;
        height: 10vh;
    }
    .redes{
        width: 30%;
        top: -20px;
        left: 1px;
    }
    .redes img{
        width: 15%;
    }
    footer{
        width: 25%;
        bottom: -38px;
    }
    .balao{
        height: 10vh;
        width: 80%;
    }
    .txt{
        top: -50%;
    }
    /* animacao scroll */
    .scrollOn{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: .9s;
    }

    .scroll{
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
}
}

@media screen and (700px <= width <= 1500px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .img-inicio{
        margin-top: -20px;
        width: 17%;
    }
    .cards{
        margin: 10px auto;
        display: grid;
        grid-template-columns: 70% 70%;
        padding: 10px;
    }
    .card{
        margin: 50px 0;
        width: 50%;
        background-color: transparent;
    }
    .card img{
        width: 50%;
        height: 10vh;
    }
    .redes{
        width: 20%;
        top: -20px;
        left: 1px;
    }
    footer{
        width: 15%;
        bottom: 10px;
    }
    .balao{
        height: 10vh;
        width: 80%;
    }
    .txt{
        top: -50%;
    }
    /* animacao scroll */
    .scrollOn{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: .9s;
    }

    .scroll{
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
}