/* estilo alien */
.alien{
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    right: -4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 20vh;
}
.cabeca{
    background: linear-gradient(45deg, #006b3c, #004d2b);
    width: 13%;
    height: 4vh;
    border-radius: 80% 80% 100% 100%;
    position: relative;
    border: 1px solid #ffffff1d;
}
.olho-esquerdo{
    background-color: #000;
    transform: skew(30deg, -20deg);
    border-radius: 100%;
    width: 20%;
    height: 0.8vh;
    position: absolute;
    top: 44%;
    left: 15%;
}
.olho-direito{
    background-color: #000;
    transform: skew(-30deg, 20deg);
    border-radius: 100%;
    width: 20%;
    height: 0.8vh;
    position: absolute;
    top: 44%;
    right: 15%;
}

.corpo{
    background: linear-gradient(45deg, #006b3c, #004d2b);
    width: 13%;
    height: 4vh;
    border-radius: 80% 80% 50% 50%;
    border: 1px solid #ffffff1d;
    position: relative;
}
.braco-esquerdo{
    background: linear-gradient(45deg, #006b3c, #005A32, #005A32, #005A32, #005A32, #005A32);
    transform: rotate(25deg);
    width: 25%;
    height: 4vh;           
    position: absolute;
    top: -5%;
    left: -10%;
    border-radius: 100%;
    animation: acenar 1s 5 ease-in-out;
}
.braco-direito{
    background: linear-gradient(45deg, #006b3c, #005A32, #005A32, #005A32, #005A32, #005A32);
    transform: rotate(-25deg);
    width: 25%;
    height: 4vh;             
    position: absolute;
    top: -5%;
    right: -10%;
    border-radius: 100%;
}

.perna-direita{
    background: linear-gradient(45deg, #006b3c, #005A32, #005A32, #005A32, #005A32, #005A32);
    transform: rotate(5deg);
    width: 35%;
    height: 3vh;             
    position: absolute;
    top: 80%;
    right: 50%;
    border-radius: 80%;
}
.perna-esquerda{
    background: linear-gradient(45deg, #006b3c, #005A32, #005A32, #005A32, #005A32, #005A32);
    transform: rotate(-5deg);
    width: 35%;
    height: 3vh;             
    position: absolute;
    top: 80%;
    left: 50%;
    border-radius: 80%;
}

.sombra{
    background-color: #000000a1;
    height: 0.1vh;
    width: 14%;
    box-shadow: 1px 1px 8px 4px #000;
    border-radius: 100%;
    position: absolute;
    top: 85%;
    right: 43%;
    opacity: 0;
}

/* estilo ovni */
.ovni{
    width: 8%;
    height: 30vh;
    background: none;
    position: absolute;
    bottom: 30px;
    right: 10px;
    animation: movimento-nave 1.8s 1 linear;
    filter: drop-shadow(5px 5px 100px #ffffff);
}
.ovni img{
    width: 100%;
    background-color: transparent;
}
.luz-ovni{
    width: 60%;
    height: 20vh;
    transform: perspective(100px) scaleX(1) rotateX(60deg);
    transform-origin: top;
    background: linear-gradient(transparent, transparent, transparent, #cccccc5f, #cccccc7e, #cccccca4, #ccc, white, white, white);
    margin: -50px auto;
}
.luz-ovni::after{
    content: ' ';
}


/* animacao aceno */
@keyframes acenar{
    0%, 100% {
        transform: translateX(-10%) rotate(-25deg);
        top: -20%;
    }
    50% {
        transform: translateX(-10%) rotate(-50deg);
    }
}

/* animacao abducao */
@keyframes abducao{
    to{
        transform: translateY(-50px);
        opacity: 0;
    }
}

/* animacao desaparece sombra */
@keyframes desSombra{
    to{
        transform: translateY(50px);
        opacity: 0;
    }
}

/* animacao desaparece ovni */
@keyframes desOvni{
    to{
        transform: translate(300px, -300px);
    }
}

/* animacao nave */
@keyframes movimento-nave{
    0% {
        top: -200px;
        right: -100px;
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0;
    }
    25% {
        top: 100px;
        right: -20px;
        transform: translate(-50%, -50%) rotate(10deg);
        opacity: 0.2;
    }
    50% {
        top: 300px;
        right: -50px;
        transform: translate(-50%, -50%) rotate(-20deg);
        opacity: 0.6;
    }
    75% {
        top: 390px;
        right: -10px;
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 0.8;
    }
    100% {
        right: 10px;
        bottom: 30px;
        opacity: 1;
    }
}



